
body{
    background: rgb(161,190,61);
    background: linear-gradient(90deg, rgba(161,190,61,1) 40%, rgba(76,183,217,1) 68%);
}

table {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
    width: 80%;
}

td {
    padding-left: 55px;
    padding-right: 50px;
    color:rgb(21, 41, 78)
}

tr {
    height: 70px;
}

div {
  margin-top: 120px;
  margin-left: 270px;
}

th{
    color:aqua;
    background-color: rgb(10, 85, 85);
}

tr:nth-last-child(5) {
    background-color: rgb(64, 201, 201);
}

tr:nth-last-child(4) {
    background-color: teal
}

tr:nth-last-child(3) {
    background-color: rgb(64, 201, 201);
}

tr:nth-last-child(2) {
    background-color: teal;
}

tr:nth-last-child(1) {
    background-color: rgb(64, 201, 201);
}

tr:hover {
  background-color: rgb(180, 180, 207);
}